*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.mdl-repeater {
  background: white;
  max-width: 400px;
}
.mdl-repeater {
  color: #333;
}
.mdl-repeater input {
  width: 100%;
  border-radius: 3px;
  outline: none;
  border: 1px solid #ddd;
  padding: 7px 10px;
}
.gjs-resizer-h {
  border-radius: 50%;
  border-width: 1px;
}
.gjs-toolbar {
  background: none;
  color: #3b97e3;
}
.mdl-form-setting {
  background: white;
  color: #000;
}
.radio-group-outline {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  display: inline-block;
  line-height: unset;
  border-radius: 4px;
  overflow: hidden;
}
.radio-button-wrapper {
  position: relative;
  display: inline-block;
  height: 32px;
  margin: 0;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.65);
  line-height: 30px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  border-left: 0;
  cursor: pointer;
  -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
  /* flex-grow: 1; */
}
.radio-button-wrapper input {
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
}

.select-anchors {
  /* height: 60px; */
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 0;
}
.select-anchors .input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 5px;
}
.select-anchors input {
  -webkit-appearance: checkbox;
  width: auto;
  margin-right: 5px;
}
.events-manager {
  text-align: left;
  padding: 1rem;
}
.events-manager .form-group label {
  display: block;
}
.events-manager .form-group input,
.events-manager .form-group select {
  padding: 5px 10px;
  color: white;
  background: none;
  border: none;
  color: #b9a5a6;
  border: 1px solid #b9a5a6;
  width: 100%;
  outline: none;
}
.nav-link.active {
  color: #b9a5a6 !important;
  background-color: #463a3c !important;
}
.nav-link {
  color: #463a3c !important;
}
/* Muflah => Code for Panel settings */

/* .gjs-pn-devices-c{
  width: 60%;
}
.gjs-pn-buttons{
  float: right;
}
.gjs-pn-views-container{
  left: 0;
}
#editor > div.gjs-editor.gjs-one-bg.gjs-two-color > div.gjs-pn-panels > div.gjs-pn-panel.gjs-pn-views.gjs-one-bg.gjs-two-color{
  left: 0;
  display: grid;
}
#editor > div.gjs-editor.gjs-one-bg.gjs-two-color > div.gjs-cv-canvas{
  left: auto;
  right: 0;
}
#editor > div.gjs-editor.gjs-one-bg.gjs-two-color > div.gjs-pn-panels > div.gjs-pn-panel.gjs-pn-options.gjs-one-bg.gjs-two-color{
  right: 0;
} */

.d-block {
  display: block !important;
}

.everything-container {
  display: flex;
  flex-direction: row;
}
.gjs-pn-pages-container {
  padding-top: 1.5px;
  width: 300px;
  background-color: #3081de;
  color: #fff;
  transition: all ease 0.3s;
}
.seperator {
  margin-top: 0px;
  border-bottom: 0.5px solid #fff;
}

.custom-sidebar.gjs-pn-pages-container {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.page-container,
.customPage-container {
  padding: 5px 20px 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  transition: all ease 0.3s;
}

.customPage-container {
  margin: 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1),
    -2px 0px 2px 0px rgba(0, 0, 0, 0.1), 2px 0px 2px 0px rgba(0, 0, 0, 0.1),
    0px -2px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all ease 0.3s;
}
.customPage-container:hover {
  color: #3081de;
  transition: all ease 0.3s;
  /* background-color: #3f3436; */
  background-color: #fff;
}

.page-header,
.customPage-page-title {
  /* color: #b9a5a6; */
  font-size: 16px;
  font-weight: 600;
}
.pages-add-button {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
}

.customPage-active {
  color: #3081de;
  background-color: #fff;
}
.customPage-container {
  padding-bottom: 10px;
  padding-top: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* grapesjs styles */
.gjs-pn-panel.gjs-pn-views {
  background-color: #3081de;
  color: #fff;
  transition: all 0.3s ease;
}
.gjs-pn-btn.fa.gjs-pn-active.gjs-four-color {
  color: #3081de;
  background-color: #fff;
  transition: all 0.3s ease;
}

.gjs-cv-canvas__frames {
  background-color: #f5f8fc;
}

.gjs-layer.gjs-layer__t-wrapper.no-select.gjs-two-color.gjs-selected,
.gjs-layer-title-c.gjs-one-bg,
.gjs-pn-panel.gjs-pn-views-container.gjs-one-bg.gjs-two-color,
.gjs-clm-tags.gjs-one-bg.gjs-two-color,
.gjs-sm-sector.gjs-sm-sector__decorations.no-select,
.gjs-trt-trait.gjs-trt-trait--text,
.gjs-block-category,
.gjs-block-category.gjs-open,
.gjs-block.gjs-one-bg:hover,
.gjs-blocks-cs.gjs-one-bg.gjs-two-color,
.gjs-editor.gjs-one-bg.gjs-two-color {
  color: #fff;
  background-color: #3081de;
  transition: all 0.3s ease;
}

.gjs-pn-panel.gjs-pn-options.gjs-one-bg.gjs-two-color,
.gjs-pn-panel.gjs-pn-devices-c.gjs-one-bg.gjs-two-color,
.gjs-pn-panel.gjs-pn-commands.gjs-one-bg.gjs-two-color {
  color: #fff;
  background-color: #3081de;
  transition: all 0.3s ease;
}

.gjs-block.gjs-one-bg,
.gjs-blocks-c {
  background-color: #fff;
  color: #3081de;
  transition: all 0.3s ease;
}

.gjs-layer-vis.fa.fa-eye,
.gjs-layer-count,
.gjs-layer-move > .fa.fa-arrows,
.gjs-field.gjs-field-text {
  color: #fff;
  transition: all 0.3s ease;
}
.gjs-field.gjs-field-text > input::placeholder {
  color: #d9d9d9;
  transition: all 0.3s ease;
}
